*{
    background-color: rgb(149, 198, 255);
}
.button{
    margin: 25px 10px;
    padding: 8px;
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(0, 34, 185);
    color: white;
}

.button:hover{
    color: rgb(0, 34, 185);
    background-color: rgb(255, 255, 255);
}